body {
	margin: 0;
	height: 100vh;
}

.main {
	background-image: url(./images/pattern-background-desktop.svg);
	background-size: contain;
	background-color: hsl(225, 100%, 94%);
	background-repeat: no-repeat;
	height: 100vh;
	justify-content: center;
	align-items: center;
	display: flex;
}

.box {
	display: flex;
	flex-direction: column;
	width: 30%;
	background-color: white;
	border-radius: 1.2rem;
	box-shadow: 0.09rem 0.1rem 1.5rem #98a7ce;
}

.illustration {
	width: 100%;
	border-top-left-radius: 1.2rem;
	border-top-right-radius: 1.2rem;
}

p,
h1,
a {
	font-family: "Red Hat Display", sans-serif;
	margin: 0px;
}

.description {
	display: flex;

	flex-direction: column;

	padding: 1.8rem;
}

.heading {
	text-align: center;
	font-weight: 700;
	color: hsl(223, 47%, 23%);
	margin: 0.8rem 0.2rem 1.2rem 0.2rem;
}
.message {
	color: hsl(224, 23%, 55%);
	font-size: 16px;
	text-align: center;
	width: 95%;
	align-self: center;
	line-height: 1.8rem;
	background-color: black;
}

.plan {
	background-color: hsl(225, 100%, 98%);
	border-radius: 0.8rem;
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.1rem;
	align-items: center;
	margin: 1.7rem 1.2rem;
	flex-wrap: wrap;
}

.left-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.7rem 1.2rem;
	flex-wrap: wrap;
}

.left-heading {
	font-size: 16px;
	font-weight: 700;
	margin: 0.2rem 0.2rem 0.4rem 0.2rem;
	color: hsl(223, 47%, 23%);
}

.left-small-text {
	font-size: 16px;
	color: hsl(224, 23%, 55%);
	font-weight: 500;
}

.music-icon {
	height: 3rem;
	width: 3rem;
}

.outer-left {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

a.change {
	color: hsl(245, 75%, 52%);
	font-size: 15px;
	font-weight: 700;
}

a.cancel {
	text-align: center;
	margin: 1.3rem 1.3rem;
	color: hsl(224, 23%, 55%);
	font-size: 16px;
	text-decoration: none;
	font-weight: 700;
}

a.cancel:hover {
	color: hsl(223, 47%, 23%);
}

a.change:hover {
	color: hsl(250, 77%, 69%);
	text-decoration: none;
}

button.submit {
	margin: 0.9rem 1.2rem;
	background-color: hsl(245, 75%, 52%);
	border-radius: 0.5rem;
	padding: 1rem 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	border: none;
	font-size: 14px;
	font-weight: 700;
	box-shadow: 0rem 0.4rem 0.8rem #98a7ce;
}
button:hover {
	background-color: hsl(250, 80%, 62%);
}

@media screen and (max-width: 375px) {
	body {
		background-color: black;
		height: auto;
	}

	.main {
		background-image: url(./images/pattern-background-mobile.svg);
	}

	.box {
		width: 90%;
	}
	.plan,
	.outer-left {
		flex-wrap: nowrap;
	}
}
