@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(210, 46%, 95%);
}

.App {
  text-align: center;
  margin: 0 auto;

  display: flex;
  box-shadow: 5px 5px 30px white;
}
.left {
  background-image: url("../src/article-preview-component-master/images/drawers.jpg");
  flex: 50%;
}
.main {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 50%;
  margin: 0 auto;
  border-radius: 30px;
}
.right {
  flex: 50%;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.heading {
  color: hsl(214, 17%, 51%);
  font-weight: 700;
  text-align: left;
}
.body {
  font-weight: 500;
  font-size: 13px;
  color: hsl(212, 23%, 69%);
  text-align: left;
}
.foot {
  display: flex;
  justify-content: space-between;
}
.avatar {
  border-radius: 50%;
  height: 55px;
}
.left-foot {
  display: flex;
}
.left-foot-data {
  display: flex;
  flex-direction: column;
}
